:root {
  --light-bg-color: #fcfeff;
  --light-font-color: #000;

  --dark-bg-color: #1b1824;
  --dark-font-color: #eee;

  --dark-js-color: #09090a;
  --light-js-color: #ffffff;

  --dark-pl-color: #24242c;
  --light-pl-color: #d0d1ee;
  
}


