.collection {
  padding: 5px;
  color: white;
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
}


.collection button{
  color: var(--dark-font-color);
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.palette-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80px;
  cursor: pointer;
  border-radius: 0px;
}

.item:hover {
  border-radius: 10px;
  transform: scale(1.08);
}

.item-color {
  height: 80px;
  width: 20px;
}

.button-delete{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 50px;
}