.color-generate-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.color-panel{
    display: flex;
    justify-content: space-between;
    gap: 3px
}
.color-item{
    height: 250px;
    width: 70px;
    display: flex;
    align-items: center;
    
}